body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
.wrapper { 
    background: url(Photos/Object.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    min-height: 100vh;
}
header{
    align-items: center;
    text-align: center;
}
nav{
    width:95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: none;
    font-family: 'Source Sans Pro', sans-serif;
    
}
nav img{
    width: 200px;
}
.nav-logo {
    margin-right: auto; /* Push the logo to the left */
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
    font-family: 'Source Sans Pro', sans-serif;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
section div h1{
    font-size: 60px;
    margin-top: 150px;
    font-family: 'Source Sans Pro', sans-serif;
}

section div span {
    display: inline;
    margin: 0 10px;
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
    font-size: 15px;
}

section button {
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 15px 20px;
    border-radius: 15px;
    background-color:  #C271FF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;

}
section div h2 {
    margin-top: 150px;
    font-size: 32px;
    font-family: 'Source Sans Pro', sans-serif;
}
section h2 span {
    color: #C271FF;
    font-weight: 700;
    font-size: 32px;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}
.pros{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 100px;
    padding: 20px;
}
.pros div {
    text-align: center;
    max-width: 200px;
    border-radius: 50%;
    padding: 20px;
}
.pros img {
    width: 100px;
    border-radius: 50%;
}
.pros h3 {
    margin: 10px 0 5px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.pros p {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.section-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #C271FF;
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.img-center {
    text-align: center;
    margin-right: 20px; /* Space between image and blockquote */
}

.img-center img {
    width: 200px; /* Adjust image size as needed */
    height: 200px; /* Ensure the image is square */
    border-radius: 50%; /* Make the image circular */
    overflow: hidden; /* Ensure the image stays within the circular boundary */
}

.paragraph blockquote {
    font-size: 18px; /* Adjust font size of the quote */
    font-family: 'Source Sans Pro', sans-serif;
    /*margin-bottom: 10px; /* Add space below the quote */
    text-align: center;
    color: white;
}
.paragraph h3{
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paragraph p{
    font-size: 20px; /* Adjust font size of the role */
    text-align: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
.section-3{
    margin-bottom: 150px;
}
.section-3 h2 span {
    color: #C271FF;
    font-family: 'Source Sans Pro', sans-serif;
}
.sub-container-3 h2 {
    font-family: 'Source Sans Pro', sans-serif;
}
.container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    
}
.container-1{
    position: relative;
    height: 300px;
    width: 300px;
    margin-left: 100px;  
}
.container-1 h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}
.container-1 p{
    font-family: 'Source Sans Pro', sans-serif;
}
.container-2{
    height: 300px;
    width: 300px;
}
.container-2 h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}
.container-2 p{
    font-family: 'Source Sans Pro', sans-serif;
}
.container-3{
    height: 300px;
    width: 300px;
}
.container-3 h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}
.container-3 p{
    font-family: 'Source Sans Pro', sans-serif;
}
.container-4{
    height: 300px;
    width: 300px;
    margin-right: 50px;
}
.container-4 h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}
.container-4 p{
    font-family: serif;
}
.sub-container-1{
    display: flex;
    align-items: center;
}
.sub-container-1 img {
    width: 30px;
    margin-right: 10px;
}

.sub-container-1 h4{
    font-family: 'Source Sans Pro', sans-serif;
    color: #C271FF;
}
.sub-container-2{
    display: flex;
    align-items: center;
}
.sub-container-2 img {
    width: 30px;
    margin-right: 10px;
}
.sub-container-2 h4{
    font-family: 'Source Sans Pro', sans-serif;
    color: #C271FF;
}
.sub-container-3{
    display: flex;
    align-items: center;
}
.sub-container-3 img {
    width: 30px;
    margin-right: 10px;
}
.sub-container-3 h4{
    font-family: 'Source Sans Pro', sans-serif;
    color: #C271FF;
}
.sub-container-4{
    display: flex;
    align-items: center;
}
.sub-container-4 img {
    width: 30px;
    margin-right: 10px;
}
.sub-container-4 h4{
    font-family: 'Source Sans Pro', sans-serif;
    color: #C271FF;
}
.star-1 {
    display: flex;
}
.style-1 {
    color: #C271FF;
}
.star-2{
    display: flex;
}
.star-3{
    display: flex;
}
.star-4{
    display: flex;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  

  
 /* start */

 .image-container {
    position: relative;
    display: inline-block;
}

.base-image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Adjust size as needed */
    width: 20%;
    height: auto;
}

/* end */
.section-4 {
    background-color:#071629;
    margin-top: 10px;
  }
  .section-4 h2 {
    text-align: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .section-4 h2 span {
    color: #C271FF;
  }
  .containers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 30px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .containers-1{
    margin-right: 80px;
  }
  .containers-2{
    margin-right: 80px;
  }
  .containers-3{
    margin-right: 80px;
  }
  .overall-container {
    display: flex;
    
  }
  .container-one {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    text-align: left;
    justify-content: space-between;
  }
  .container-two {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    margin-right: 50px;
  }
  .sub-container-one h3 {
    color: #071629;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .sub-container-three h3 {
    color: #071629;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .sub-container-five h3 {
    color: #071629;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .sub-container-seven h3 {
    color: #071629;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .sub-container-two {
    color:  #07162980;
    font-family: 'Source Sans Pro', sans-serif;
    
  }
  .sub-container-four {
    color:  #07162980;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .sub-container-six {
    color:  #07162980;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .sub-container-eight {
    color:  #07162980;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .section-6 {
   background-color: #071629;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding-top: 80px;
   padding-bottom: 0;
  }
  .box { 
 display: flex;
 justify-content: space-between;
 width: 100%;
 padding: 20px;
  }
   
.image-1 {
    margin-left: 100px;
  }
  .socialmedia {
    margin-right: 50px;
    color: white;
    display: flex;
    gap: 30px;
    font-size: 25px;
  }
  .para-1 {
    color: #FFFFFF;
  }